body {
  background-image: url('AdmiredImpressiveJohndory-max-1mb.gif');
}

h1 {
  color: white;
  font-family: comic sans ms;
  font-size: 300%;
  text-align: center

}

section {
    background-color: white;
    padding: 10px;
}
